extends layout.pug
block content
    div(class="header")
        div(class="header__logo")
            img(class="header__logo-icon" src="./image/setting-wheel.png")
        div(class="header__sitename") Rock,Paper,Scissors
        div(class="header__settings")
            img(class="header__settings-icon" src="./image/setting-wheel.png")
    div(class="main")
